/* styles.css */
body {
  font-family: Arial, sans-serif;
}

section {
  margin-bottom: 20px;
}

h1,
h2 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #f0f0f0;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

select {
  width: 75% !important;
  margin-bottom: 5px;
}

.select2-container {
  width: 75% !important;
  margin-bottom: 5px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input,
form textarea {
  width: 75% !important;
  padding: 8px;
  margin-top: 5px;
}

form button {
  margin-top: 10px;
}

.form-section select {
  width: 75% !important;
  margin-bottom: 5px; /* Spacing between label and select */
}

.form-section {
  margin-bottom: 10px;
}

.form-section label {
  margin-bottom: 5px;
}

.book-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 70%;
  list-style-type: none;
}

.book-item button {
  margin-right: 5px;
}

.role-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 70%;
  list-style-type: none;
}

.role-item button {
  margin-right: 5px;
}

.participant-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 70%;
  list-style-type: none;
}

.participant-item button {
  margin-right: 5px;
}

.book-participants-item {
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  width: 70%;
  list-style-type: none;
}

.book-participants-item button {
  margin-right: 5px;
}

.book-participants-header {
  margin-bottom: 5px;
  margin-bottom: 0px;
  list-style-type: none;
  font-weight: bold;
}

#bp-book-id,
#load-book-participant-id,
#bp-participant-id,
#bp-role-id {
  width: 80% !important;
}